h1 {
    margin-left: 150px;
    margin-top: 30px;
    display:block;
    margin-left: 23%;
    margin-right: auto;
}

.numberButton:active,
.operationButton:active,
.extraButton:active {
    transform: translateY(2px);
}

#calculator {
    width: 250px;
    height: 300px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: grey;
    display: block;
    margin-left: 25%;
    margin-right: auto;
}

#backspace {
    width: 30px;
    height: 30px;
}

#onlyInput {
    width: 168px;
    height: 24px;
    margin-bottom: 8px;
}

#clearButton {
    height: 30px;
    width: 30px;
}

#buttonInputs {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
    grid-gap: 5px;
}

#clearHistory {
    margin-top: 30px;
    width: 175px;
    height: 40px;
}

.history {
    display: block;
    margin-left: 25%;
    margin-right: auto;
}

.previousCalc {
    margin-top: 7px;
    list-style-type: none;
    display: block;
    margin-left: -2%;
    margin-right: auto;
}